<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title></head>
<link href="{{CSS_FILE}}" rel="stylesheet"/>
<body>
<div class="a4">
    <div class="cert">
        <img src="{{ SOME_IMAGE_FOLDER}}">
        <img src="{{ SOME_IMAGE_FOLDER}}">
        <div>
            <p><span>{{student_name}}</br></span></p>
            <p><span>{{student_surname}}</br></span>
            <p>
            <p><span>has successfully completed the intense course</span></p>
        </div>
        <div>
            <table>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td><span></span></td>
                </tr>
            </table>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td><span></span></td>
                </tr>
            </table>
            <div>{{ date }}</div>
        </div>
        <div><span>Some Sign</span></div>
    </div>
</div>
</body>
</html>